/* This query hides the data viz if the window size width drops below 1150px and shows a message to the user. */

.small_screen_show {
  display: none;
}

@media screen and (max-width: 640px) {
    .small_screen_adapt {
        display: none !important;
    }

    .small_screen_show {
        display: block !important;
    }
}

*{
  font-family: 'Open Sans', sans-serif;
  font-size: .85rem;
  }


/* Tables */
table {
width: 100%;
border-collapse: collapse;
font-size: .9rem;
color: #000000;
}

/* Tables */
table.case_summary {
width: 500px;
border-collapse: collapse;
font-size: .9rem;
color: #000000;
}

tr:nth-of-type(odd) {
background: #d6ebff;
}

th {
background-color: #ffffff;
color: #256cb2;
font-size: 1.2rem;
}

td, th {
padding-top: 2px;
padding-right: 5px;
padding-left: 1px;
padding-bottom: 2px;
font-size: .9rem;
border: 1px solid #ffffff;
vertical-align: top;
text-align: left;
}
/* * {-webkit-font-smoothing: antialiased;} */

.header {
 margin: auto;
 width: calc(100% - 40px);
 text-align: center;
 margin-top: 20px;
 margin-left: 20px;
 margin-right: 20px;
 margin-bottom: 30px;
}

.main {
margin: 20px;
float: left;
display: inline-block;
}

.drop{
float: right;
}

.content {
float: none;
width: calc(75% - 50px);
margin-left: 25px;
margin-right: 25px;
display: inline-block;
}

.right-sidebar {
float: right;
width: calc(25% - 40px);
color: #444;
margin-left: 20px;
margin-right: 20px;
top: 0;
display: inline-block;
}

p {
  font-size: .9rem;
}

a {
color: #cc0052;
}

h1 {
font-size: 1.8rem;
font-weight: bold;
color: #256cb2;
}

h2 {
font-size: 1.2rem;
font-weight: bold;
color: #256cb2;
}

h3 {
font-size: 1.2rem;
font-weight: bold;
color: #000;
}

p.side_important {
text-align: justify;
color: red;
text-justify: inter-word;
 }

.footer {
 font-size: .8rem;
 float: right;
 }

.key_list {
  display: block;
  padding: 0.5em 0.5em;
  border-radius: 4px;
  color: #000000;
  background: #ffffff;
  text-align: left;
  font-size: .8rem;
  font-family: inherit;
  margin: 0 0 1px;
  border-left: 13px solid #ccc;
  opacity: .8;
  position: relative;
}

p.key_list .side_tt {
    font-size: .8rem !important;
}

.tooltip_class {
  max-width: 280px;
  padding-left: 5px;
  padding-right: 5px;
  background: #ffffff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000;
  text-align: left !important;
}

.stay-right-classy{
  float: right;
}

.stay-left-classy{
  float: left;
}

.ticked_off.tick:nth-child(2n) text {
    visibility: hidden;
}

.c3_all_lines {
fill: none;
stroke: #d2d2d2;
}

/* .c3_ghost_lines {
fill: none;
stroke: #d2d2d2;
opacity: 0;
stroke-width: 10;
} */

.give_me_space {
margin-left: 5px;
}
